body{
    background-color: wheat;
}

h1 {
    font-size: 50px;
}

table {
    margin: auto;
    margin-bottom: 20px;
    border-spacing: 20px;
}
button {
    width: 100%;
    height: 100%;
}
#main{
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: large;

    margin: auto;
    padding: 10px;
    text-align: center;
}
#saveButton {
    width: 200px;
    height: 60px;
    font-size: large;
    background-color: #A66A2C;
    color: wheat;
    border: none;
    border-radius: 10px;

}

.zaznaczone {
    
    background-color: #A66A2C;
}

.niezaznaczone {
    background-color: rgb(225, 202, 159);
}

.bingo td{
    border-radius: 20px;
    width: 200px;
    height: 200px;
}
.bingo select {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    text-align: center;
    appearance: none;
}
.bingo select:focus {
    outline: none;
    border: 2px solid #A66A2C;
    border-radius: 20px;
    
}
.bingo option {
    text-align: center;
    background-color: wheat;
    border: 1px solid black;
}