*{
    font-family: 'Madimi One', sans-serif;
    font-weight: 400;
    cursor: url('../img/chrupek-cursor.png'),auto;
}
body{
    background-color: wheat;

}
#input1{
    height: 50px;
    width: 400px;
    font-size: 45px;
}
#formularz1{
    font-family: 'Madimi One', sans-serif;
    font-weight: 400;
    font-size: 60px;
    margin: 0;
    top: 50%;
    position: absolute;
    text-align: center;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    
}
#githubs{
  left:93%;
  top: 85%;
  position: absolute;
}
#wersja{
  float: left;
  top:94%;
  position: absolute;
}

.button-48 {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  display: inline-block;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.0em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  height: 70px;
  width: 200px;
  border-radius: 30px;
  border: 1px gray solid;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #EBEBEB;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  border-radius: 30px;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  cursor: url('../img/chrupek.png');
  background-image: url("../img/chrupek-przerwa5px.png");
  background-repeat: repeat;

}

.button-48:after {
  background-color: #FFFFFF;
  cursor: url('../img/chrupek.png');
  background-image: url("../img/chrupek-przerwa5px.png");
  background-repeat: repeat;
  font-weight: 700;
  color: white;
}

.button-48 span {
  z-index: 1;
  position: relative;
  font-weight: 700;
}